 <div class="pdr-items">
  <div class= "prep-title">
  <span class= "title">PREP(準備)</span>
  </div>

    <div class="card">
      <div class="card-header">
        取組みの目的
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <%= @prep.purpose %>
        </blockquote>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        取り組みたい理由
      </div>
      <div class="pcard-body">
        <blockquote class="blockquote mb-2">
          <%= @prep.reason %>
        </blockquote>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        取組みに必要なタスク
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <%= @prep.task %>
        </blockquote>
      </div>
    </div>
   
    <div class= "do-title">
    <span class= "title">DO(実行)</span>
    </div>

    <div class="card">
      <div class="card-header">
        タスクを実行して気づいたこと
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <% if @prep.memo != nil %>
          <%= @prep.memo %>
          <% else %>
          <div class='action-btn'>
            <%= link_to '気づいたことを登録', edit_prep_path, class: 'btn btn-outline-info my-3 ml-4' %>
          </div> 
          <% end %>
        </blockquote>
      </div>
    </div>

    <div class= "review-title">
    <span class= "title">REVIEW(見直し)</span>
    </div>

    <% if @reviews == nil %>
      <div class="card">
        <div class="card-header">
          準備から実行を通しての見直し
        </div>
        <div class="prep-card-body">
          <blockquote class="blockquote mb-2">
          <div class='action-btn'>
            <%= link_to '見直しを登録', edit_prep_path, class: 'btn btn-outline-info my-3 ml-4' %>
          </div>
          </blockquote>
        </div>
      </div>
    <% end %>
     <% @reviews.each do |review| %>
     <div class="card">
      <div class="card-header">
        取り組んだ結果
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <%= review.result %>
        </blockquote>
      </div>
    </div>
     <div class="card">
      <div class="card-header">
        達成度
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <%= Level.find(review.level_id).name %>
        </blockquote>
      </div>
    </div>
     <div class="card">
      <div class="card-header">
        うまくいったこと
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <%= review.success %>
        </blockquote>
      </div>
    </div>
     <div class="card">
      <div class="card-header">
        うまくいかなかったこと
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <%= review.result %>
        </blockquote>
      </div>
    </div>
     <div class="card">
      <div class="card-header">
        改善すること
      </div>
      <div class="prep-card-body">
        <blockquote class="blockquote mb-2">
          <%= review.improve %>
        </blockquote>
      </div>
    </div>
    <% end %>

 </div>


  <div class="return-btn">
    <%= link_to "#{current_user.name}さんのPDR一覧に戻る", root_path, class: "btn btn-outline-info my-3 ml-4" %>
  </div>