<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>REVIEW(見直し)</h2>
    </div>
    <div class='account-page__inner--right user-form'>
       <%= form_with model: @review, url: prep_reviews_path,local: true do |f| %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :取り組んだ結果%>
          </div>
          <div class='task-field-input'>
            <%= f.text_area :result, size: "50x10", placeholder:"取り組んだ結果" %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :うまくいったこと%>
          </div>
          <div class='task-field-input'>
            <%= f.text_area :success, size: "50x10", placeholder:"うまくいったこと" %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :うまくいかなかったこと%>
          </div>
          <div class='task-field-input'>
            <%= f.text_area :failure, size: "50x10", placeholder:"うまくいかなかったこと" %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :改善すること%>
          </div>
          <div class='task-field-input'>
            <%= f.text_area :improve, size: "50x10", placeholder:"改善すること" %>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "登録", class: 'btn btn-info'%>
        </div>
      </div>
    <% end %>
  </div>
</div>